/* Buttons */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
.btn {
  display: flex;
  width: 100%;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.88rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.5s;
}

.btn--dark {
  position: relative;
  background: linear-gradient(to right, #a3a8f0 0%, #696fdd 100%);
  color: #fff;
  z-index: 1;
}

.btn--dark::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.btn--dark:hover {
  border: 1px solid #696fdd;
  color: #696fdd;
}

.btn--dark:hover::before {
  opacity: 1;
}

.btn--light {
  background: #fff;
  color: #696fdd;
}

.btn--light:hover {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  font-size: 15px;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  background: url(../../assets/img/bg-top.svg), #f6f6fe;
  background-repeat: no-repeat;
  background-position-x: 51vw;
  background-position-y: -41px;
}

@media (min-width: 875px) {
  body {
    background: url(../../assets/img/bg-top.svg), url(../../assets/img/bg-bottom.svg), #f6f6fe;
    background-repeat: no-repeat;
    background-position: top right, bottom left;
  }
}

.pricing {
  padding: 64px 16px;
}

.pricing__container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.pricing__heading {
  font-size: 2.13rem;
  color: #6d708d;
  margin-bottom: 40px;
}

.pricing__toggle-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
}

.pricing__toggle-option {
  color: #b3b5c6;
}

.pricing__toggle {
  position: relative;
  display: flex;
  align-items: center;
  width: 56px;
  height: 32px;
  border: 0;
  border-radius: 30px;
  background: linear-gradient(to right, #a3a8f0 0%, #696fdd 100%);
  margin: 0 24px;
  cursor: pointer;
}

.pricing__toggle::before {
  position: absolute;
  content: '';
  left: 24px;
  width: 24px;
  height: 24px;
  margin: 4px;
  border-radius: 50%;
  background: #fff;
  transition: transform 400ms ease-in-out;
}

.pricing__toggle.active::before {
  transform: translateX(-24px);
}

.pricing__card-wrapper {
  display: flex;
  flex-flow: column;
}

@media (min-width: 875px) {
  .pricing__card-wrapper {
    width: 100%;
    justify-content: center;
    flex-flow: row;
  }
}

.pricing__card {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 330px;
  padding: 32px;
  background: #fff;
  color: #494c5f;
  border-radius: 10px;
}

.pricing__card--dark {
  color: #fff;
  background: linear-gradient(to right, #a3a8f0 0%, #696fdd 100%);
  margin: 32px 0;
}

.pricing__card--dark .pricing__card-heading {
  color: #fff;
}

@media (min-width: 875px) {
  .pricing__card--dark {
    margin: -20px 0;
    max-width: 352px;
  }
}

@media (min-width: 875px) {
  .pricing__card--light {
    max-width: 342px;
  }
}

@media (min-width: 875px) {
  .pricing__card {
    min-width: 275px;
    width: 100%;
  }
}

.pricing__card-heading {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #6d708d;
}

.pricing__card-price {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-size: 4.66rem;
}

.pricing__card-price span {
  font-size: 2.66rem;
  margin-right: 8px;
}

.pricing__card-list {
  width: 100%;
  margin-bottom: 32px;
  text-align: center;
}

.pricing__card-item {
  padding: 17px 0;
  border-top: 1px solid #b3b5c6;
}

.pricing__card-item:last-child {
  border-bottom: 1px solid #b3b5c6;
}
/*# sourceMappingURL=main.css.map */