$c-blue-gray: hsl(233, 13%, 49%);
$c-blue-gray-dark: hsl(232, 13%, 33%);
$c-blue-gray-light: hsl(234, 14%, 74%);
$c-blue-gray-very-light: hsl(240, 78%, 98%);
$gr-blue: linear-gradient(to right, hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%) 100%);